body {
    background-color: #3dd2cb;
}

.row {
    background-color: white;
    border-radius: 8px;
    margin: 5px;
}

.col-sm-6, .col-sm-4 {
    border-color: red;
    border-width: 3px;
}

#map-canvas {
    height: 400px;
    width: 100%;
}
#current-city {
    font-size: medium;
}

#latitude, #longitude {
    text-align: right;
}