body {
    background-color: #3dd2cb;
}

.col-xs-3 {
    background-color: white;
    border-radius: 8px;
    margin: 5px;
}

#map-canvas {
    height: 400px;
    width: 100%;
}
#current-city {
    font-size: medium;
}